<div class="wrapper">
  <header class="header">
    <h1>Coins List</h1>
    <ul class="nav nav-tabs">
      <li *ngFor="let tab of conversionCurrencyTabs"
          class="conversion-currency-tab"
          [ngClass]="{'active': activeCurrencyConversionTab === tab}">
        <a (click)="onChangeConversionCurrency(tab)"
           class="conversion-currency-tab-link"
           [ngClass]="{'active': activeCurrencyConversionTab === tab}">{{tab}}</a>
      </li>
    </ul>
  </header>
  <div class="spinner-wrapper" *ngIf="loading">
      <mat-spinner></mat-spinner>
  </div>
  <div class="col-md-12">
    <div class="coin-pagination">
      <div class="pull-right">
        <a *ngIf="currentPage > 1"
            (click)="onPreviousPage()"
            class="btn btn-xs btn-previous-page">Previous Page</a>
        <a (click)="onNextPage()"
          class="btn btn-xs btn-next-page">Next Page</a>
      </div>
    </div>
    <app-coin-table [coinData]="coinData"></app-coin-table>
    <div class="btn-streaming-status">
      <button class="btn"
              [ngClass]="{ 'btn-success': isStreaming, 'btn-danger': !isStreaming }"
              (click)="onChangeStreamingStatus()">
        <i class="fa m-right-sm"
          [ngClass]="{ 'fa-toggle-off': !isStreaming, 'fa-toggle-on': isStreaming }">
        </i>
        <span>Live</span>
      </button>
    </div>
  </div>    
</div>