@import 'variables';

.wrapper {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
}

mat-spinner {
    position: absolute;
    top: 400px;
    left: 50%;
}

.conversion-currency-tab {
    cursor: pointer;

    &.active {
        cursor: none;
    }

    .conversion-currency-tab-link {

        &.active {
            font-weight: $font-weight-bold;
        }
    }
}

.coin-pagination {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

.btn-previous-page, .btn-next-page {
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #ECECEC;
    padding-right: 14px;
    padding-left: 14px;
    color: #363D47;
    background: $white-bgr;
}

.header {
    overflow: hidden;
    background: #F4F9FF;
}

.coin-table-footer {
    background: $coin-table-footer-bgr;
    padding: 10px;
}

.btn-streaming-status {
    margin-top: 5px;
    text-align: right;
}
