<table class="coin-table table table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th colspan="2">Coin</th>
      <th class="price">Price</th>
      <th>Vol 24h</th>
      <th>Market Cap</th>
      <th>% Change (24H)</th>
    </tr>
  </thead>
  <tbody class="coin-table-body">
      <tr *ngFor="let data of coinsDataToDisplay; let i=index">
          <td>{{i}}</td>
          <td class="icon">
            <img [src]="'https://www.cryptocompare.com' + data.CoinInfo.ImageUrl">
          <td class="name">
            <span>{{data.CoinInfo.FullName}}</span>
            <br>
            <span>{{data.CoinInfo.Name}}</span>
          </td>
          <td class="price">{{data.SocketData?.price | currency }}</td>
          <td>{{data.SocketData?.volume | currency:'USD':'symbol':'1.0-0' }}</td>
          <td>{{data.SocketData?.mcap | currency:'USD':'symbol':'1.0-0' }}</td>
          <td>{{data.SocketData?.changePercent}}</td>
        </tr> 
  </tbody>
</table>
