<table class="coin-table table table-bordered table-hover">
    <thead>
        <tr>
        <th class="row-number">#</th>
        <th colspan="2">Coin</th>
        <th class="price">Price</th>
        <th class="volume">Vol 24h</th>
        <th class="marketcap">Market Cap</th>
        <th class="percent-change24h">% Change (24H)</th>
        </tr>
    </thead>
    <tbody class="coin-table-body">
        <tr *ngFor="let data of coinData; let i=index">
            <td class="row-number">{{i + 1}}</td>
            <td class="icon">
                <img [src]="'https://www.cryptocompare.com' + data.CoinInfo.ImageUrl">
            <td class="name">
                <span class="full-name">{{data.CoinInfo.FullName}}</span>
                <br>
                <span class="ticker">{{data.CoinInfo.Name}}</span>
            </td>
            <td class="price">
                <div class="price-value" [ngClass]="{'increase': data.SocketData?.flags === '1', 'decrease': data.SocketData?.flags === '2'}">
                    {{data.SocketData?.priceDisplay}}
                </div>
            </td>
            <td class="volume">
                {{data.SocketData?.fullVolume24Hour}}
            </td>
            <td class="marketcap" [ngClass]="{'increase': data.SocketData?.flags === '1', 'decrease': data.SocketData?.flags === '2'}">
                {{data.SocketData?.mcap}}
            </td>
            <td class="percent-change24h">
                <div class="percent-change24h-value"
                    [ngClass]="{'positive': data.SocketData?.changePercent > '0', 'negative': data.SocketData?.changePercent < '0' }">
                    {{data.SocketData?.changePercent}}
                </div>
            </td>
            </tr> 
    </tbody>
</table>