<div class="wrapper">
  <mat-spinner *ngIf="loading"></mat-spinner>
  <div *ngIf="!loading" class="col-md-12">
    <app-coin-table [coinData]="coinData"></app-coin-table>
    <footer class="coin-table-footer">
        <a class="btn btn-view-all-coins" [routerLink]="['/coins', 'USD', '1']">View All Coins</a>
        <div class="btn-streaming-status">
          <button class="btn"
                  [ngClass]="{ 'btn-success': isStreaming, 'btn-danger': !isStreaming }"
                  (click)="onChangeStreamingStatus()">
            <i class="fa m-right-sm"
              [ngClass]="{ 'fa-toggle-off': !isStreaming, 'fa-toggle-on': isStreaming }">
            </i>
            <span>Live</span>
          </button>
        </div>
    </footer>
  </div>
</div>
