@import 'variables';

.wrapper {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
}

mat-spinner {
    position: absolute;
    top: 350px;
    left: 50%;
}

.btn-view-all-coins {
    background: $white-bgr;
    border: 1px solid #ECECEC;
    color: #363D47;
}

.coin-table-footer {
    position: relative;
    background: $coin-table-footer-bgr;
    text-align: center;
    padding: 10px;
}

.btn-streaming-status {
    position: absolute;
    right: 40px;
    top: 5px;
    margin-top: 5px;
}